<div class="my-5">
    <h3>自己紹介</h3>
    <div class="my-1">
        <p>@DataSource.Bio</p>
    </div>
</div>

@code {
    [Parameter]
    public IntroduceData DataSource { get; set; } = new IntroduceData();
}
