<div class="my-5">
    <h3>表彰</h3>
    <table class="table table-hover my-1">
        <thead>
            <tr>
                <th style="width:26%" scope="col">発行日</th>
                <th scope="col">名称</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in DataSource.PrizeList)
            {
                <tr>
                    <td>@item.Date</td>
                    @if(item.Link != "")
                    {
                        <td><a href="@item.Link" target="_blank" rel="noopener noreferrer">@item.Name</a></td>
                    }
                    else
                    {
                        <td>@item.Name</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public PrizeData DataSource { get; set; } = new PrizeData();
}
